<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__content">
      <h2 class="get-started__title heading-h4">Let’s level up your brand</h2>
      <p class="get-started__desc text-p-medium">
        You can reach us anytime
        <a href="mailto:hellosansbrothers@gmail.com" class="get-started__link">
          hellosansbrothers@gmail.com
        </a>
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label text-p-small">
            <span class="get-started__form-text">First name</span>
            <input
              name="first-name"
              type="text"
              class="get-started__form-input _req _name"
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label text-p-small">
            <span class="get-started__form-text">Last name</span>
            <input
              name="last-name"
              type="text"
              class="get-started__form-input"
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label text-p-small">
          <span class="get-started__form-text">Email</span>
          <input
            name="email"
            type="email"
            class="get-started__form-input"
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label text-p-small _req">
          <span class="get-started__form-text">Phone number</span>
          <input
            name="phone"
            type="tel"
            class="get-started__form-input _req tel"
            placeholder="+1 (555) 000-0000"
          />
        </label>
        <label class="get-started__form-label text-p-small">
          <span class="get-started__form-text">Message</span>
          <textarea
            name="message"
            class="get-started__form-textarea"
            placeholder="Leave us a message..."
          ></textarea>
          <button type="submit" class="button get-started__form-button">
            Get Started
          </button>
        </label>
      </form>
    </div>
    <div class="get-started__img">
      <img
        src="./assets/image/contact-img.jpg"
        alt="A man and a girl give each other a high five"
      />
    </div>
  </div>
</section>
