<section class="join">
  <div class="join__container container">
    <h2 class="join__title heading-h2">
      Join our team, The one with the master touch
    </h2>
    <div class="join-content">
      <p class="join__desc text-p-medium">
        We believe it takes great people to make a great product. That’s why we
        hire not only the perfect professional fits, but people who embody our
        company values.
      </p>
      <a href="#" class="join__link text-p-default">See Open Position -></a>
    </div>
  </div>
</section>
