<footer class="footer">
  <div class="container">
    <div class="footer__head">
      <div class="footer__text">
        <h3 class="footer__title">Think beyond the wave</h3>
        <p class="footer__desc text-p-medium">
          Ask about Sans products, pricing, implementation, or anything else.
          Our highly trained reps are standing by, ready to help
        </p>
      </div>
      <a href="#" class="footer__button button button--accent">Try for free</a>
    </div>
    <div class="footer__body">
      <div class="footer__body-slogan">
        <a href="/" class="footer__body-logo">
          <img
            src="../../assets/icons/light-logo.svg"
            alt="Logo Coca"
            width="140"
            height="66"
          />
        </a>
        <p class="footer__body-slogan-text text-p-default">
          We built an elegant solution. Our team created a fully integrated
          sales and marketing solution for SMBs
        </p>
      </div>
      <ul class="footer__body-list">
        <li class="footer__body-item">
          <a class="footer__body-item-title text-p-default">
            Company
            <svg
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              fill="none"
              class="footer__body-item-title-icon"
            >
              <path
                d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                fill="#ffffff"
              />
            </svg>
          </a>
          <ul class="footer__body-sublist">
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">About</a>
            </li>
            <li class="footer__body-subitem">
              <a href="/pricing" class="footer__body-link text-p-default">
                Pricing
              </a>
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Jobs</a>
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Blog</a>
            </li>
          </ul>
        </li>
        <li class="footer__body-item">
          <a class="footer__body-item-title text-p-default">
            Product
            <svg
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              fill="none"
              class="footer__body-item-title-icon"
            >
              <path
                d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                fill="#ffffff"
              />
            </svg>
          </a>
          <ul class="footer__body-sublist">
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Sales Software</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Marketplace</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Terms & Conditions</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Privacy Policy</a
              >
            </li>
          </ul>
        </li>
        <li class="footer__body-item">
          <a class="footer__body-item-title text-p-default">
            Discover
            <svg
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              fill="none"
              class="footer__body-item-title-icon"
            >
              <path
                d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                fill="#ffffff"
              />
            </svg>
          </a>
          <ul class="footer__body-sublist">
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >CRM Comparision</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Partner Program</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >What is CRM</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Resource</a>
            </li>
          </ul>
        </li>
        <li class="footer__body-item">
          <a class="footer__body-item-title text-p-default">
            Help Center
            <svg
              width="16px"
              height="16px"
              viewBox="0 0 24 24"
              fill="none"
              class="footer__body-item-title-icon"
            >
              <path
                d="M5.70711 9.71069C5.31658 10.1012 5.31658 10.7344 5.70711 11.1249L10.5993 16.0123C11.3805 16.7927 12.6463 16.7924 13.4271 16.0117L18.3174 11.1213C18.708 10.7308 18.708 10.0976 18.3174 9.70708C17.9269 9.31655 17.2937 9.31655 16.9032 9.70708L12.7176 13.8927C12.3271 14.2833 11.6939 14.2832 11.3034 13.8927L7.12132 9.71069C6.7308 9.32016 6.09763 9.32016 5.70711 9.71069Z"
                fill="#ffffff"
              />
            </svg>
          </a>
          <ul class="footer__body-sublist">
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Community</a>
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default"
                >Knowledge Base</a
              >
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Academy</a>
            </li>
            <li class="footer__body-subitem">
              <a href="#" class="footer__body-link text-p-default">Support</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <div class="footer__bottom-lists">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="../../assets/icons/socials/facebook.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="../../assets/icons/socials/twitter.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="../../assets/icons/socials/instagram.svg" alt="" />
            </a>
          </li>
          <li class="footer__social-item">
            <a href="#" class="footer__social-link">
              <img src="../../assets/icons/socials/in.svg" alt="" />
            </a>
          </li>
        </ul>
        <ul class="footer__bottom-list text-p-small">
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Privacy Policy</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Terms & Conditions</a>
          </li>
          <li class="footer__bottom-item">
            <a href="#" class="footer__bottom-link">Support</a>
          </li>
        </ul>
      </div>
      <div class="footer__bottom-copy text-p-small">
        © Copyright 2023, All Rights Reserved
      </div>
    </div>
  </div>
</footer>
