.marker {
  display: flex;
  gap: 9px;
  flex-direction: column-reverse;
  align-items: center;
  width: clamp(120px, 10vw, 180px);
  transform: translate(-50%, -100%);

  &__img {
    width: 54px;
    height: 54px;
  }

  &__text {
    border-radius: 8px;
    padding: 12px 16px;
    box-shadow: 0 16px 24px 0 #1e1e1e14;
    background-color: #fff;
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #161a34;
  }

  &__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #7e8492;
  }
}
