<section class="activity">
  <div class="container">
    <h2 class="activity__title heading-h1">Activity & Updates</h2>
    <p class="activity__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're always designing and building
      products that will help you run your business better.
    </p>
    <div class="activity__tab">
      <ul class="activity__tab-controls text-p-default">
        <li class="activity__tab-controls-item">
          <a
            href="#tab1"
            class="activity__tab-controls-link activity__tab-controls-link--active"
            >View all</a
          >
        </li>
        <li class="activity__tab-controls-item">
          <a href="#tab2" class="activity__tab-controls-link">Design</a>
        </li>
        <li class="activity__tab-controls-item">
          <a href="#tab3" class="activity__tab-controls-link">Articles</a>
        </li>
        <li class="activity__tab-controls-item">
          <a href="#tab4" class="activity__tab-controls-link">Product</a>
        </li>
        <li class="activity__tab-controls-item">
          <a href="#tab5" class="activity__tab-controls-link">
            Software Development
          </a>
        </li>
        <li class="activity__tab-controls-item">
          <a href="#tab6" class="activity__tab-controls-link">
            Customer Success
          </a>
        </li>
      </ul>
      <div class="activity__tab-content activity__tab-content--show" id="tab1">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
      <div class="activity__tab-content" id="tab2">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
      <div class="activity__tab-content" id="tab3">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
      <div class="activity__tab-content" id="tab4">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
      <div class="activity__tab-content" id="tab5">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
      <div class="activity__tab-content" id="tab6">
        <div class="swiper activity__tab-slider">
          <div class="swiper-wrapper activity__tab-slider-wrapper">
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/1.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="activity__tab-article-desc">
                  In this article, we'll cover how to create user flows
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/2.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="activity__tab-article-desc">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </a>
            </div>
            <div class="swiper-slide activity__tab-article">
              <a href="#" class="activity__tab-article-link">
                <div class="activity__tab-article-image">
                  <img
                    src="./assets/image/news/activity-slider/3.jpg"
                    alt="the girl is working on a laptop and drinking tea"
                    width="515"
                    height="428"
                    loading="lazy"
                  />
                </div>
                <div class="activity__tab-article-head text-p-small">
                  <p class="activity__tab-article-date">
                    Published in Insight
                    <time datetime="2021-01-30">Jan 30, 2021</time>
                  </p>
                  <p class="activity__tab-article-author">by : Albert Sans</p>
                </div>
                <h3 class="activity__tab-article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="activity__tab-article-desc">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </a>
            </div>
          </div>
          <div class="swiper-scrollbar activity__tab-scrollbar"></div>
        </div>
      </div>
    </div>
  </div>
</section>
