.strength {
  &__container {
    border-bottom: 1px solid var(--neutral-color-30);
    padding-top: 66px;
    padding-bottom: 160px;

    @include mobile {
      padding-top: 26px;
      padding-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    gap: clamp(70px, 10vw, 144px);
    margin-bottom: 80px;

    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include mobile {
      gap: 30px;
      margin-bottom: 50px;
    }
  }

  &__item {
    position: relative;
    font-weight: 500;
    line-height: 1.8;
    color: var(--neutral-color-150);

    @include tablet {
      min-width: 320px;
    }

    @include mobile {
      min-width: none;
    }

    @include small-tablet {
      @include flex-all-center;
      flex-direction: column;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 50%;
      right: clamp(-35px, -5vw, -72px);
      display: block;
      width: 1px;
      height: 99px;
      background-color: #ced1d8;
      transform: translateY(-50%);

      @include tablet {
        display: none;
      }
    }

    &-num {
      display: block;
      font-weight: 600;
      font-size: 64px;
      line-height: 1.2;
      color: var(--neutral-color-100);

      @include mobile {
        font-size: 52px;
      }

      @include small-mobile {
        font-size: 46px;
      }
    }
  }

  &__img {
    margin-bottom: 80px;

    @include mobile {
      margin-bottom: 50px;
    }
  }

  &__text {
    @include flex-justify-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__desc {
    max-width: 421px;
    font-weight: 500;
    line-height: 1.8;
    color: var(--neutral-color-150);

    @include tablet {
      max-width: 600px;
    }
  }
}
