<section class="insight">
  <div class="container insight__container">
    <h2 class="insight__title heading-h2">Trending news from Coca</h2>
    <p class="insight__desc text-p-medium">
      we have some new Service to pamper you
    </p>
    <div class="swiper insight__slider">
      <div class="swiper-wrapper insight__slider-wrapper">
        <div class="swiper-slide insight__article">
          <img
            src="./assets/image/insight-slider-1.jpg"
            alt="women with computer writing on notebook"
            class="insight__article-img"
            width="582"
            height="332"
            loading="lazy"
          />
          <div class="insight__article-head text-p-small">
            <p class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021 </time>
            </p>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            src="./assets/image/insight-slider-2.jpg"
            alt="women with computer writing on notebook"
            class="insight__article-img"
            width="582"
            height="332"
            loading="lazy"
          />
          <div class="insight__article-head text-p-small">
            <p class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021 </time>
            </p>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            src="./assets/image/insight-slider-1.jpg"
            alt="women with computer writing on notebook"
            class="insight__article-img"
            width="582"
            height="332"
            loading="lazy"
          />
          <div class="insight__article-head text-p-small">
            <p class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021 </time>
            </p>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            What makes an authentic employee profile, and why does it matter ?
          </h3>
        </div>
        <div class="swiper-slide insight__article">
          <img
            src="./assets/image/insight-slider-2.jpg"
            alt="women with computer writing on notebook"
            class="insight__article-img"
            width="582"
            height="332"
            loading="lazy"
          />
          <div class="insight__article-head text-p-small">
            <p class="insight__article-date">
              Published in Insight
              <time datetime="2021-01-30">Jan 30, 2021 </time>
            </p>
            <address class="insight__article-author">by : Albert Sans</address>
          </div>
          <h3 class="insight__article-title heading-h5">
            How to build a Kaylen relationship with a good company
          </h3>
        </div>
      </div>
      <div class="swiper-scrollbar insight__scrollbar"></div>
    </div>
  </div>
</section>
