.team {
  position: relative;
  padding: 160px 0 100px;

  @include small-tablet {
    padding: 80px 0 60px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: inline-block;
    border-radius: 50%;
    width: 525px;
    height: 525px;
    background-color: var(--sucsess-color-70);
    filter: blur(180px);

    @include mini-desktop {
      width: 325px;
      height: 325px;
    }

    @include tablet {
      right: 0;
    }

    @include small-mobile {
      width: 251px;
      height: 251px;
    }
  }

  &__title {
    margin-bottom: 24px;
    max-width: 890px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include small-tablet {
      text-align: center;
    }
  }

  &__desc {
    display: block;
    margin-bottom: 80px;
    max-width: 530px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.8;
    color: var(--neutral-color-150);

    @include small-tablet {
      margin: 0 auto 60px;
      text-align: center;
    }
  }

  &__slider {
    &-wrapper {
      padding-bottom: 60px;

      @include small-mobile {
        padding-bottom: 40px;
      }
    }
  }

  &__article {
    max-width: 379px;

    &-img {
      margin-bottom: 16px;
    }

    &-content {
      @include flex-justify-between;
      align-items: flex-start;

      @include small-mobile {
        gap: 20px;
        flex-direction: column;
      }
    }

    &-name {
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.5;
      color: var(--neutral-color-100);
    }

    &-profession {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.5;
      color: #7e8492;
    }

    &-socials {
      @include flex-align-center;
      gap: 8px;

      &-icon {
        @include flex-all-center;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        background-color: var(--neutral-color-40);

        & path {
          fill: var(--neutral-color-90);
        }
      }
    }
  }

  &__scrollbar.swiper-scrollbar {
    background-color: transparent;
  }

  &__scrollbar .swiper-scrollbar-drag {
    background-color: var(--neutral-color-100);
  }
}
